-#%p#notice= notice
%h1 Listing Recommendations
%ul.list-group
  %li.list-group-item.disabled
    .row
      .col-sm-4 Recommendation
      .col-sm-3 Avaliations
  - @recommendations.each do |recommendation|
    = render :partial => 'shared/recommendation_line', locals: {recommendation: recommendation}
= link_to new_recommendation_path, :class => "btn btn-primary btn-whitelink" do
  %span(class="glyphicon glyphicon-plus")
  New Recommendation