%h1 Following
	

%ul.list-group
	%li.list-group-item.disabled
		.row
			.col-sm-2 Name
			.col-sm-2 Avaliations
			.col-sm-3 Recommendations
	- @user.followed.each do |user|
		%li.list-group-item
			.row
				.col-sm-2
					= link_to(user.name, user_path(user))
				.col-sm-2
					= user.avaliations.length
				.col-sm-3
					= user.recommendations.length
				-if current_user==@user
					.col-sm-3
						=link_to 'Unfollow', relationship_path(@user.followship(user)), :class => "btn btn-primary btn-whitelink btn-block", :method=>:delete
