%h1 Followers

%ul.list-group
  %li.list-group-item.disabled
    .row
      .col-sm-2 Name
      .col-sm-2 Avaliations
      .col-sm-3 Recommendations
  - @user.followers.each do |user|
    %li.list-group-item
      .row
        .col-sm-2
          = link_to(user.name, user_path(user))
        .col-sm-2
          = user.avaliations.length
        .col-sm-3
          = user.recommendations.length
        -if current_user!=user
          -if current_user.follows?(user)
            .col-sm-3
              =link_to 'Unfollow', relationship_path(current_user.followship(user)), :class => "btn btn-primary btn-danger btn-block", :method=>:delete
          -else
            .col-sm-3
              =link_to 'Follow', relationships_path(:followed=>user), :class => "btn btn-primary btn-whitelink btn-block"