%h1 List of all Media

%table#media
	%thead
		%tr
			%th Media Title
			%th Release Date
	%tbody
		-	@media.each do |m|
			%tr
				%td= link_to(m.title, medium_path(m))
				%td= m.release_date

%br
%br
= link_to("Voltar", :root)
